# Basic Auth
AuthType Basic
AuthName "Wrong way "
AuthUserFile /home/wakko/.logwatch_tables_htaccess.htpasswd

# Block rules
Require valid-user

<Files xmlrpc.php>
order deny,allow
 deny from all
</Files>

# Rewrite evil user agents
RewriteEngine  on
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]
RewriteCond %{HTTP_USER_AGENT} "Go-http-client/1.1" [NC]
RewriteRule "^.*$" - [F,L]
RewriteCond %{HTTP_REFERER} \.(ru|uz|ua) [NC]
RewriteCond %{HTTP_REFERER} ^semalt\.com [NC]
RewriteRule ^(.*)$ - [F,L]
RewriteCond %{HTTP_user_agent} (crawler|Ezooms|MJ12|Nutch|Sogou|spider|Yandex|findlinks|SiteExplorer|AhrefsBot|Baidu|Screener|SEOkicks|NCBot|Wotbox|iCjobs|MJ12bot|Dataprovider|008|Apache|HttpClient|Java|java|80legs|spbot|exabot|ltbot|semalt|stq_bot|dotbot|searchmetrics|publiclibraryarchive|webrobot|mindup|meanpath|dotbot|Yahoo|DotBot|SeznamBot|Plukkie|WordPress|JobboerseBot|XoviBot|coccoc|seoscanners|Go-http-client|img2dataset|ClaudeBot|SemrushBot|DataForSeoBot|python-requests|facebookexternalhit|axios|2ip|openai|axios|J2ME|YaBrowser|Yowser|zgrab|censys|guzzle|HeadlessChrome|GenomeCrawlerd|AsyncHttpClient|Dmbot|WanScannerBot|Vyhledavac|l9explore|Slurp|wpbot|Turnitin|BitSightBot|Barkrowler|Amazonbot|l9tcpid|l9explore|Website-info.net|cypex|CMS-Checker|Legal.*Research.*Bot|libredtail|urlsuma) [NC]
RewriteRule .* - [F,L]
